[submodule "external/commonlibsse-po3"]
	path = external/commonlibsse-po3
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/crosire/reshade.git
